@import url('./__author/footer__author.css');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-link/footer__column-link.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__column_content/footer__column_content_copyright.css');
@import url('./__columns/footer__columns.css');
@import url('./__social-icon/footer__social-icon.css');
@import url('./__social-link/footer__social-link.css');
.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 350px;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
